@import url('https://fonts.googleapis.com/css?family=Nova+Mono&display=swap');

* {
	box-sizing: border-box;
}
body {
    margin: 0;
    background-color: white;
}

.container {
	/* height: 100vh; */
	background-color: white;
	font-family: Times, monospace;
    pointer-events: none;
}

section {
    /* height: 990px; */
    height: 116.1vw;
    position: relative;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.js-loop {
    position: relative;
    height: 100vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

::scrollbar {
    display: none;
}
  

.container-fire {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 20;
    display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}

.title {
    display: block;
    margin: 0;
    /* position: absolute; */
    /* bottom: 0; */
    /* top: 0; */
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: -0.15em;
    font-size: 22vw;
    align-self: flex-start;
    line-height: 0.7em;
    transform-origin: top;
    transform: scaleY(3);
    color: white;
    z-index: -1;
    mix-blend-mode: difference;
    overflow: hidden;
}

.noise {
    width: 100vw;
    height: 300vh;
    position: fixed;
    top: 0;
    background: linear-gradient(2deg, black, #00000000), url(https://grainy-gradients.vercel.app/noise.svg);
    /* background: linear-gradient(2deg, black, #00000000);  */
    filter: contrast(20%) brightness(10%);
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-background-clip: text; */
}

.highlight {
    font-size: 36vw;
    line-height: 0.65;
}

.fire {
    flex-basis: 25vw;
	font-size: 1.0rem;
	text-transform: uppercase;
	/* width: 25vw; */
    /* height: 100vh; */
	perspective: 900px;
    z-index: 20;
    color: transparent;
    transform: scale(1.8);
    /* position: fixed;
    top: 0;
    left: 50%; */

}

.fire--01  {
    transform: scale(0.9);
}

.fire--02  {
    transform: scale(1.8);
}

.fire--04  {
    transform: scale(1.2);
}


.fire--03  {
    transform: scale(0.5);
}


.char {
    will-change: transform;
	offset-path: path('m 97.682647,26.213456 c 0,0 -9.16672,20.77702 -10.28336,24.12697 -1.11664,3.34994 1.44049,9.36925 -1.16501,19.41908 -2.60552,10.04983 -6.99729,19.52036 -5.13622,23.98695 1.86108,4.46659 -1.27857,15.186044 -1.27857,23.747004 0,8.56097 0.87991,13.61782 3.85763,19.57327 2.97774,5.95546 7.75268,13.8436 7.75268,13.8436 0,0 -0.30835,-9.00479 -0.30835,-16.07689 0,-7.07211 -0.37221,-8.18875 2.60551,-18.23858 2.97773,-10.04983 5.21103,-14.14421 5.58324,-21.960744 0.37221,-7.81654 1.488863,-16.3775 -0.37221,-21.96074 -1.86108,-5.58324 -2.12919,-13.27972 -4.83881,-20.84409 -3.17707,-8.86932 3.9557,-25.61583 3.58347,-25.61583 z M 247.82435,161.63298 c 0,0 -5.95546,19.35523 -6.32767,21.58852 -4.13111,7.57427 -2.96216,16.21112 -5.58324,24.19404 0,16.74971 -5.21102,14.88863 -7.81654,18.23858 -2.60551,3.34994 -5.21102,9.30539 -5.58323,14.1442 -0.37222,4.83881 2.23329,23.82182 2.23329,23.82182 5.41895,-6.00254 7.2872,-15.0843 11.16648,-22.33296 4.46659,-7.81653 7.81653,-11.53869 11.16647,-18.98301 3.34995,-7.44432 10e-6,-13.58588 -0.37221,-21.40242 -0.37221,-7.81653 4.46659,-11.35258 3.72216,-20.28576 -0.74444,-8.93318 -2.2333,-18.98301 -2.60551,-18.98301 z M 169.44871,55.422396 c 0,0 -7.26823,22.58198 0.95472,35.48956 5.71322,12.066244 -0.4368,25.415454 1.86108,37.966024 1.06917,13.23567 9.2629,23.95936 12.28312,36.47716 2.2333,10.42204 2.97774,18.98301 2.97774,18.98301 6.8521,-14.09378 5.81123,-23.66484 4.44013,-30.46558 -5.67245,-13.77098 -6.47237,-19.96674 -5.18457,-36.53328 -1.99995,-30.030334 -4.83857,-35.585434 -10.92199,-41.722384 -6.71787,-4.91956 -6.83765,-20.02354 -6.41023,-20.19451 z M 49.478417,136.59645 c 0,0 -1.90624,20.19772 -3.02289,23.91988 -1.11664,3.72216 -1.86107,13.39978 -0.74443,18.6108 1.11665,5.21102 0.72554,13.67073 5.21103,19.72744 5.23747,7.0721 6.41798,18.50952 6.41798,18.50952 0,0 3.64699,-14.05926 1.39855,-20.3706 -2.10557,-5.9103 -3.82023,-13.79844 -4.19244,-19.00946 -0.37222,-5.21102 5.92633,-12.30861 2.33136,-19.32878 -2.86871,-5.60194 -7.18112,-16.68585 -7.39916,-22.0588 z M 139.88173,1.9523552 c 0,0 1.48886,21.5885208 -11.16648,43.9214808 -12.65534,22.33295 -18.6108,33.49943 -14.1442,44.6659 4.4666,11.166484 16.3775,20.844094 14.1442,34.988304 -13.71654,31.38585 1.23613,39.14167 4.46659,66.99886 -4.28242,21.26501 -7.31583,42.82403 0,64.02114 -19.84438,-24.93996 -6.43081,-37.62045 -9.67761,-58.81012 -17.76722,-43.2953 -17.08416,-52.2016 -15.63307,-72.95431 0.74443,-13.39978 1.84237,-27.814924 1.84237,-27.814924 0,0 -12.264423,21.859464 -11.519993,36.748104 5.301923,20.0577 -4.16894,40.71991 0.74444,60.29897 11.743763,33.27704 -10.78935,48.36791 17.866363,95.28727 0,0 -17.866363,-5.95545 -23.821823,-22.33295 -5.95545,-16.3775 -2.23329,-30.5217 -4.46659,-50.62136 -14.2521,-54.24335 -0.29172,-54.38261 -7.44432,-71.46545 -8.48408,-19.41404 -7.44431,-17.86637 -7.44431,-31.26614 0,-13.39977 -3.68475,-22.122664 -3.68475,-22.122664 0,0 -8.22616,22.867094 -8.22616,34.778004 0.11052,25.53078 8.99712,28.07179 7.44431,75.93204 7.6703,18.91885 -12.40556,30.67203 -12.65534,48.38807 -2.30007,20.32521 0.78634,21.37297 16.3775,33.49943 -17.0962,5.32228 -24.77398,-15.39171 -26.05511,-29.03284 0.74443,-8.18875 5.21102,-27.54397 2.2333,-35.73272 -5.17772,-12.84732 -10.36745,-25.51792 -10.42205,-39.45489 2.9099,-14.21793 2.41512,-35.39556 1.91248,-28.70508 -0.45529,6.06024 -7.79144,7.64632 -11.59009,21.26076 -2.2333,10.42205 -5.21103,25.31068 -1.48887,33.49943 9.85783,16.1365 7.38163,27.76469 3.72216,50.62137 -3.12307,17.52832 9.41067,34.59873 23.07739,44.6659 7.44432,4.46659 12.65534,8.18875 12.65534,8.18875 -5.19777,9.29048 -16.11944,1.99771 -20.84409,-2.97772 -12.65534,-14.14421 -14.88864,-11.91091 -20.09966,-22.33296 -5.21102,-10.42204 -6.08318,-18.6637 -6.08318,-18.6637 0,0 -5.82773,12.70825 -2.10557,19.40813 3.3077,9.45915 9.47071,16.1706 16.3775,23.07739 -9.49048,4.05004 -16.77746,-5.71248 -23.82182,-10.42205 -8.6209597,-8.89189 -8.3125997,-13.98294 -8.3125997,-13.98294 0,0 -1.36501002,14.72738 3.84601,21.42726 20.9755797,22.65436 41.2835097,22.49293 69.2321597,12.65534 -6.44178,12.87989 -18.61194,12.56945 -30.5217,16.3775 -4.4666,1.48887 -16.12205,-0.6167 -16.12205,-0.6167 0,0 8.67773,5.82772 18.35534,8.06102 16.15689,5.18042 31.69664,2.25146 45.41034,-7.44432 9.677613,-7.44432 12.655343,-14.88863 12.655343,-14.88863 -2.3517,11.37415 -5.740493,25.25051 5.21102,32.755 7.44432,3.72215 12.70825,2.66936 12.70825,2.66936 0,0 -7.49722,-7.13596 -8.24166,-12.34698 -1.3324,-9.50335 6.21357,-17.80782 14.88864,-20.84409 0,0 -0.74443,13.39977 1.48886,16.3775 2.2333,2.97773 8.18875,10.42205 16.3775,13.39977 8.18875,2.97773 11.05624,2.26314 17.43029,6.51926 6.88051,4.59431 7.354,13.43718 7.354,13.43718 17.7203,-10.14823 -3.52975,-29.14191 -10.64008,-38.56723 0,0 6.69988,3.72216 11.16647,7.44432 4.4666,3.72216 8.93319,10.42204 16.3775,11.91091 7.44432,1.48886 10.42205,2.97772 19.35523,2.97772 6.51255,0.17267 14.43589,-1.07343 17.86636,-7.44432 0,0 -8.18875,1.48887 -16.3775,-2.23329 -8.18875,-3.72216 -10.42204,-1.48886 -16.37749,-9.67761 -7.18188,-7.60341 -8.18875,-15.45851 -8.18875,-25.31069 0,0 15.63306,6.69989 22.33295,12.65535 6.69989,5.95545 7.44432,12.65534 16.3775,15.63306 15.61234,5.17274 25.57344,-9.23689 40.94375,1.48887 8.93318,7.44431 13.27204,13.49009 13.27204,13.49009 1.36884,-14.26727 -3.29881,-20.74638 -6.57216,-24.65657 -11.59465,-13.01092 -29.52251,-3.87595 -43.17704,-8.93318 0,0 10.42204,-3.72216 17.86636,-3.72216 19.45941,3.43148 22.01318,-0.48573 37.96602,-8.18875 9.61507,-3.86693 15.01333,-8.04045 22.59068,-18.79918 0,0 -10.67977,10.61043 -18.12408,9.866 -12.12253,-2.00986 -24.15964,-4.18665 -36.47716,-4.46659 8.18047,-6.74255 19.2232,-1.35346 28.28841,-4.46659 6.69988,-2.97773 3.72215,0 10.42204,-7.44432 6.69989,-7.44432 6.64004,-2.5427 11.16648,-10.42205 5.02492,-8.74707 5.95545,-15.26085 5.95545,-15.26085 0,0 -2.23329,5.76935 -9.67761,7.0721 -8.36077,1.46313 -9.67761,6.69989 -17.12193,8.18875 -18.03487,0.16194 -24.26628,1.99834 -38.71046,12.65534 6.24974,-33.89727 9.40216,-29.03573 20.09966,-40.19931 2.97773,-6.69989 4.6527,-16.74972 4.6527,-16.74972 0,0 -6.14156,10.79426 -15.07474,13.77199 -15.79608,2.72601 -17.1358,19.09169 -23.82182,30.5217 -3.06256,8.47561 -10.63683,11.18942 -17.12193,16.3775 12.45417,-17.87404 -3.27691,-38.66461 5.21102,-57.32125 9.80581,-13.16716 18.40864,-32.03463 12.65534,-48.38806 -8.00349,-14.2687 -0.89881,-30.57665 -8.93318,-44.66591 -16.13042,-15.1305 -6.82117,-29.72713 -13.39977,-50.621364 -3.72216,-11.16648 -0.74443,-20.84409 -0.74443,-26.79955 0,-5.95545 -0.74444,-10.42204 -0.74444,-10.42204 0,0 -10.42204,17.86636 -11.9109,29.03284 1.31454,21.257564 -3.323,46.127024 5.21102,66.254434 10.12233,14.67875 8.71959,35.63083 1.48886,51.36579 -10.08517,14.13112 -13.96978,29.06119 -14.1442,46.15477 -11.70316,-3.58259 -3.62977,-26.3603 -3.72216,-35.73272 -0.27142,-19.3393 -14.57566,-33.93474 -18.6108,-52.11023 -5.99804,-18.68481 3.72768,-37.93936 -0.74443,-56.576824 -8.91756,-15.59376 -16.75759,-30.6825 -14.1442,-49.1325 4.82388,-20.06097 1.7669,-30.45333 -8.93318,-47.6436308 z');
	offset-distance: calc(var(--char-index) * 1rem);
	position: absolute;
	animation: wave 20000ms linear infinite calc(var(--char-index) * 100ms);
	transform: perspective(800px) scale(0.6) rotate3d(0, 0, 0, 0);
    will-change: transform;
}

.fire--02 .char {
	/* offset-distance: calc(var(--char-index) * 1.3rem); */
}

.fire--03 .char {
	animation: wave 20000ms linear infinite calc(var(--char-index) * 50ms);
}

.fire--04 .char {
	offset-distance: calc(var(--char-index) * 0.5rem);
	animation: wave 20000ms linear infinite calc(var(--char-index) * 50ms);
}

/**
* Add color
*/


@keyframes wave {
	0% {
        color: white;
		/* color: yellow; */
	}
	25% {
		/* color: orange; */
	}
	50% {
		/* color: red; */
	}
	75% {
		/* color: orange; */
	}
	100% {
        color: white;
		/* color: yellow; */
		offset-distance: calc((var(--char-index) * 1rem) + 1000px);
		transform: perspective(800px) scale(0.6) rotate3d(0, 0, 0, 180deg);
	}
}
